ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.card {
    position: relative;
    padding:20px 30px;
    background-color:white;
    border-radius: 30px;
    width:200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding-top:60px;
    overflow: hidden;
    margin:30px;
}

.card .banner {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 50px;
    
}

.card img {
    width: 100%;
}